body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #282c34;
            color: #61dafb;
            font-family: 'Arial', sans-serif;
        }

        a {
            color: #1BC389;  
        }

        .container {
            text-align: center;
        }

        .clock {
            font-size: 3rem;
            margin-bottom: 20px;
        }

        .date {
            font-size: 1.5rem;
            margin-bottom: 20px;
        }

        button {
            margin: 5px;
            padding: 10px 15px;
            font-size: 1rem;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            background-color: #1BC389;
            color: white;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #169b5a;
        }

        footer {
              color: white;
              padding: 5px;
              position: fixed;
              background-color: #aab;
              left: 0;
              bottom: 0;
              width: 100%;
            }